/* 
class naming standard: xq-tree-xxx
namespace: xq-tree
*/
* {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    cursor: pointer;
}

/* leaf nodes */
li.xq-tree-leaf {
    font-size: small;
    font-weight: normal;
    color: black;
}
li.xq-tree-leaf::before{
    content: '🖥️';
}
span.xq-tree-leafName {
    font-weight: normal;
}

/* folder nodes */
li.xq-tree-folder::before{
    content: '📁';
}
li.xq-tree-folder {
    font-weight: bold;
    color: blue;
}
span.xq-tree-folderName {
    font-weight: bold;
}

/* general */
.xq-tree-hidden {
    display: none;
}
.xq-tree-selected {
    background-color: grey;
}